.*.swp

.project
.settings/
.idea/

.bem/cache
.bem/snapshots
.enb/tmp
node_modules
libs

*.pages/*/*
*.blocks/*/*

.bowerrc
bower.json
package.json

/coverage
/coverage.json
/gemini-report/

/dist
/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs